<c:template
    xmlns:c="core"
    name="demotemplate"
    params="name,count">
    
    <div class="demotemplate">
        <h1>demotemplate</h1>
        Hello $name! You have $count new messages.
    </div>

</c:template>