<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="ui/components/dmkcomponent"
    params="name,count">
    
    <div class="dmkcomponent" w:widget="ui/components/dmkcomponent/dmkcomponent-widget">
        <h1>ui/components/dmkcomponent</h1>
        Hello $name! You have $count new messages.
    </div>

</c:template>